*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-color: #d5e1ef;
    --cont-color: white;
    --text-color: #1f314f;
    --small-text-color: #68778d;
}
body{
    background: var(--body-color);
    padding: 2rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
}

.container{
    background: var(--cont-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    
    padding: 1rem;
    border-radius: 16px;
}
.container >img{
    height: 288px;
    border-radius: 10px;
}
.container >h2{
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
    width: 95%;
    margin-bottom: 0.4rem;
}
.container >p{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: var(--small-text-color);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width:601px){
    .container{
        width: 50%;
    }
}
@media (max-width:600px){
    .container{
        width: 90%;
    }
}